<head>

</head>
<body>
<div class="main container">
    <div class="main-header" style="display:flex; align-items: center">
        <h2 class="title" style="margin-right: 75px; ">
            Наши врачи:
        </h2>
        <select style="height: 30px">
            <option value="Все">Все</option>
            <option value="Оториноларинголог">Оториноларинголог</option>
            <option value="Офтальмолог">Офтальмолог</option>
        </select>
    </div>
    <div class="main-body ">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="card mb-3 border-primary col" style="max-width: 50%;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Врач-Оториноларинголог</h5>
                            <p class="card-text"><b>ФИО:</b>Марных Светлана Анатольевна<br/><b>Стаж работы:</b>21 год
                            </p>
                            <button value="Подробнее" class="btn btn-outline-primary btn-lg">Подробнее</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid rounded-start"
                             src="https://fnkc-fmba.ru/upload/resize_cache/main/efa/192_192_2/efa6a92b9b63813173c600f3880e0ffe.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
